$icomoon-font-family: 'one-of-us' !default;
$icomoon-font-path: 'fonts' !default;

$icon-close: '\ea0f';
$icon-facebook: '\ea90';
$icon-instagram: '\ea92';
$icon-linkedin: '\eac9';
$icon-twitter: '\e900';
$icon-youtube: '\e911';
$icon-play: '\e900';
