.navbar {
    --height-navbar: auto;
    --navbar: #{spacer(2)};
    --size-brand: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--navbar);
    background-color: transparent;
    background-color: color(blueberry);
    box-shadow: 0 0 20px transparent;
    position: absolute;
    z-index: 999;
    transition: background-color var(--speed-slow) var(--cubic-bezier-2), box-shadow var(--speed-slow) var(--cubic-bezier-2), padding var(--speed-slow) var(--cubic-bezier-2);

    .navbar-menu {
        display: none;
        background-color: transparent;
        color: color(milk);
        transition: background-color var(--speed-slow) var(--cubic-bezier-2);

        a {
            opacity: 1;
            font-weight: bold;
            color: rgba(color(milk), .5);
            transition: opacity var(--speed-slow) var(--cubic-bezier-2), height var(--speed-slow) var(--cubic-bezier-2), color var(--speed-slow) var(--cubic-bezier-2);

            &.active {
                color: color(milk);
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: color(milk);
                }
            }
        }
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        width: var(--size-brand);
        transition: top var(--speed-slow) var(--cubic-bezier-2), width var(--speed-slow) var(--cubic-bezier-2);

        .brand {
            width: 100%;
        }
    }

    .navbar-button {
        .btn {
            background-color: color(sand);
            color: color(blueberry);
        }
    }

    @include media-breakpoint-up(md) {
        --height-navbar: auto;
        --navbar: #{spacer(4)};
        --size-brand: 190px;
        position: fixed;

        .navbar-brand {
            width: var(--size-brand);
            position: absolute;
            top: var(--navbar);
            left: 50%;
            transform: translateX(-50%);
        }

        .navbar-menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: spacer(2);
        }

        &.is-up {
            --navbar: #{spacer(2)};
            height: var(--height-navbar);
            box-shadow: 0 0 20px rgba(color(cola), .15);
            position: fixed;
            top: 0;

            // .navbar-brand {
            //     width: calc(var(--size-brand) / 1.5);
            // }
        }
    }
}
