.section--hero {
    --mt-hero-text: #{spacer(5)};
    --mt-hero-anchor: #{spacer(6)};
    --pb-hero-anchor: #{spacer(5)};
    --py-hero-reel: #{spacer(2)};
    --animation-speed: 40s;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: calc(var(--margin-section) * 1.5);
    font-family: $font-family-heading;
    text-align: center;
    
    .hero-text {
        margin-top: var(--mt-hero-text);
        font-size: calc(var(--font-size-base) * 2);
        line-height: 1.4;
        color: rgba(color(blueberry), .6);
    }

    .hero-anchor {
        margin-top: var(--mt-hero-anchor);
    }

    .hero-reel__track {
        display: flex;
        animation: scrollText var(--animation-speed) linear infinite;
    }

    @keyframes scrollText {
        from { transform: translateX(0%); }
        to { transform: translateX(-200%); }
    }

    @include media-breakpoint-up(lg) {
        --mt-hero-text: #{spacer(7.5)};
        --mt-hero-anchor: #{spacer(12)};
        --pb-hero-anchor: #{spacer(7)};
        --py-hero-reel: #{spacer(4)};
        --animation-speed: 120s;
    }
}
