.section--intro {
    margin-bottom: 0;
    text-align: left;
    position: relative;
    padding: {
        top: calc(var(--margin-section));
        bottom: calc(var(--margin-section));
    }
    
    .intro-text {
        margin-top: spacer(5);
    }

    
    .intro-text__title {
        margin-bottom: spacer(3);
    }

    .btn {
        margin-top: spacer(3);
    }

    @include media-breakpoint-up(lg) {
        .intro-text {
            margin: 0;
            padding-left: spacer(5);
        }
    }
}
