.section--text-image {
    --py-text-image: #{spacer(5)};
    position: relative;

    .text-image {
        display: flex;
        flex-direction: column;
        gap: spacer(3);
        align-items: center;
    }

    .text-image__text {
        margin-top: spacer(3);
        color: rgba(color(shark), .5);
    }

    .text-image__images {
        position: relative;
        padding: {
            top: var(--py-text-image);
            bottom: var(--py-text-image);
        }

        figure {
            display: block;
            position: relative;
        }

        .image {
            overflow: hidden;
            width: calc(75% - #{spacer(6)});
            border-top-left-radius: clamp-calculator(80, 260);
            border-bottom-right-radius: clamp-calculator(80, 260);
            z-index: -1;
            margin: {
                right: auto;
                left: auto;
            }
        }

        .image-left {
            overflow: hidden;
            width: calc(33.333%);
            border-bottom-right-radius: clamp-calculator(40, 85);
            position: absolute;
            top: 0;
            left: 0;

            figure {
                @include responsive-ratio(250, 170, true);

                picture,
                img {
                    @include fill-w-h(true);
                }
            }
        }

        .image-right {
            overflow: hidden;
            width: calc(33.333% - #{spacer(3)});
            border-top-left-radius: clamp-calculator(48, 95);
            position: absolute;
            right: 0;
            bottom: 0;

            figure {
                @include responsive-ratio(250, 264, true);

                picture,
                img {
                    @include fill-w-h(true);
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        --py-text-image: #{spacer(7.5)};

        .text-image {
            flex-direction: row-reverse;

            .text-image__image {
                .image-left {
                    width: calc(33.333% - #{spacer(3)});
                }
            }
        }

        .text-image__images,
        .text-image__content {
            flex: 0 0 calc(50% - #{spacer(1.5)});
            max-width: calc(50% - #{spacer(1.5)});
        }

        .text-image__text {
            width: 66.667%;
        }
    }
}
