.form-row {
    display: flex;
    margin-right: -5px;
    margin-left: -5px;

    [class^='col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }

    @include media-breakpoint-down(md) {
        .btn {
            width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;

        .form-group {
            flex-grow: 1;
            margin-bottom: 10px;
        }

        .btn {
            flex-shrink: 0;
        }
    }
}
