.form-group {
    &.form-group--valid,
    &.form-group--invalid {
        .form-control {
            padding-right: spacer(2);
        }
    }

    &.form-group--invalid {
        .form-control {
            border-color: color(barbie);
        }

        .custom-select {
            .validation {
                margin: 0;
                top: 15px;
                right: 45px;
            }
        }
    }
}

.validation {
    width: 17px;
    height: 17px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: var(--px-form-control);

    &.validation--invalid {
        transform: rotate(45deg);

        &::before,
        &::after {
            @include center-x-y;
            background-color: color(barbie);
            content: '';
        }

        &::before {
            width: 17px;
            height: 2px;
        }

        &::after {
            width: 2px;
            height: 17px;
        }
    }
}
