button {
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: color(sand);

    *::selection {
        background-color: lighten(color(blueberry), 5);
        color: color(milk);
    }

    #app {
        overflow: hidden;
    }

    main {
        flex-grow: 1;
        position: relative;
    }

    &.menu-is-open {
        overflow: hidden;

        main {
            overflow: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

.container {
    padding: {
        right: 20px;
        left: 20px;
    }
}

.row {
    margin-right: calc(-1 * (var(--width-grid-gutter)) / 2);
    margin-left: calc(-1 * (var(--width-grid-gutter)) / 2);
}

[class*='col-'] {
    padding-right: calc(var(--width-grid-gutter) / 2);
    padding-left: calc(var(--width-grid-gutter) / 2);
}

.collapse {
    display: none;

    &.show {
        display: block;
    }
}

.collapsing {
    overflow: hidden;
    max-height: 0;
    transition: max-height var(--speed-default) ease-in-out; /* stylelint-disable-line plugin/no-low-performance-animation-properties */
    will-change: max-height;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;

    &.show {
        opacity: 1;
    }
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}
