$icomoon-font-path: $font-path;

@import '../../fonts/bridge/style';
@import '../../fonts/bridge/variables';

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$font-path}/#{$icomoon-font-family}.woff2?do8v6s') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

%icon {
    speak: none;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important; /* stylelint-disable-line declaration-no-important */
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkmark {
   @include checkmark;
}
